<form action="/auth/signup" method="POST">
  <label>
    Name
    <input type="text" name="name" />
  </label>
  <label>
    Surname
    <input type="text" name="surname" />
  </label>
  <label>
    Email
    <input type="text" name="email" />
  </label>
  <label>Password
    <input type="password" name="passwordHash" />
  </label>

  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}