<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ultra"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:900%7CWork+Sans:300"
      rel="stylesheet"
    />

  </head>

  <body>
    <nav>
      <div><a data-title="home" id="logo" href="/">Flying Shelf</a></div>
      <div><a data-title="About" href="/ads/create">Create new ad</a></div>
      <div><a data-title="Portfolio" href="/user-ads">My Ads</a></div>

      {{#if userInSession}}
        Hello,
        {{userInSession.name}}

        <a href="/user-profile">Profile Page</a>
        <br />
        <div>
          <form id="logout-form" action="/logout" method="POST">
            <button data-title="Blog" id="class-button">Logout</button>
          </form>
        </div>
      {{else}}
        <a data-title="Blog" href="/signup">Register</a>
        <div>
          <a data-title="Blog" id="class-button" href="/login">Login</a>
        </div>
      {{/if}}

    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>

