<h1>Adds in our DB:</h1>

{{#each add}}
    <section class="add-summary">
        <h2>{{this.title}}</h2>
        <p>
            Description: {{this.description}} <br> /
            <a href="/adds/{{_id}}">More details</a> |
            <a href="/adds/{{_id}}/edit">Edit</a>
        </p>

    </section>
{{/each}}