<fieldset >

<legend>  <h2 class="color-logo">Create an ad</h2></legend>

 {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    
{{/if}}


<form action="/ads/create" method="post" enctype="multipart/form-data">

<label> Upload your images:
<input type="file" name="imageUrl" class="form-control-file" />
</label>

<div class="create-div">
   <legend class="create-div"> Select your type of ad</legend>
<div>
      <input type="radio" id="offer" name="typeOfAd" value="offer" checked>
      <label for="offer">Offer</label>
</div>

<div>
      <input type="radio" id="request" name="typeOfAd" value="request">
      <label for="request">Request</label>
</div>
</fielset>


<label> Title:
    <input type="text" name="title" />
</label>

<label> Description:
    <textarea id="description" name="description" cols="30" rows="4"> </textarea>
</label>


<label for="category-select">Choose a category:</label>

<select id="select" name="category" id="category-select">
    <option value="">--Please choose an option--</option>
    <option value="cinema">Cinema</option>
    <option value="fine-art">Fine Art</option>
    <option value="litterature">Litterature</option>
    <option value="music">Music</option>
</select>


  <legend>  Condition </legend>
    <div class="list">
<div>
      <input type="radio" id="new" name="condition" value="new">
      <label for="new">New</label>
</div>

<div>
      <input type="radio" id="very-good" name="condition" value="very-good">
      <label for="very-good">Very Good</label>
</div>

<div>
      <input type="radio" id="good" name="condition" value="good">
      <label for="good">Good</label>
</div>

<div>
      <input type="radio" id="average" name="condition" value="average">
      <label for="average">Average</label>
</div>

<div>
      <input type="radio" id="to-fix" name="condition" value="to-fix">
      <label for="to-fix">To Fix</label>
</div>
</div>


<label> Contact:
    <input type="text" name="contactEmail" required />
</label>

<label> Town:
    <input type="text" name="town" required />
</label>


  </legend><button class="button" type="submit"> Create </button><legend>
    </div>
</form>