<h2>Create an ad</h2>

 {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    
{{/if}}


<form action="/ads/create" method="post" enctype="multipart/form-data">

<label> Upload your images:
<input type="file" name="imageUrl" class="form-control-file" />
</label>

<fielset>
    <legend>Select your type of ad</legend>
<div>
      <input type="radio" id="offer" name="typeOfAd" value="offer" checked>
      <label for="offer">Offer</label>
</div>

<div>
      <input type="radio" id="request" name="typeOfAd" value="request">
      <label for="request">Request</label>
</div>
</fielset>


<label> Title:
    <input type="text" name="title" />
</label>

<label> Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
</label>


<label for="category-select">Choose a category:</label>

<select name="category" id="category-select">
    <option value="">--Please choose an option--</option>
    <option value="cinema">Cinema</option>
    <option value="fine-art">Fine Art</option>
    <option value="litterature">Litterature</option>
    <option value="music">Music</option>
</select>

<fielset>

    <legend>Condition</legend>
<div>
      <input type="radio" id="new" name="condition" value="new">
      <label for="new">New</label>
</div>

<div>
      <input type="radio" id="very-good" name="condition" value="very-good">
      <label for="very-good">Very Good</label>
</div>

<div>
      <input type="radio" id="good" name="condition" value="good">
      <label for="good">Good</label>
</div>

<div>
      <input type="radio" id="average" name="condition" value="average">
      <label for="average">Average</label>
</div>

<div>
      <input type="radio" id="to-fix" name="condition" value="to-fix">
      <label for="to-fix">To Fix</label>
</div>


</fielset>


<label> Contact:
    <input type="text" name="contactEmail" />
</label>

<label> Town:
    <input type="text" name="town" />
</label>


  <button type="submit"> Create </button>
</form>